/***** General *****/

:root {
  --color_orange: rgb(255, 128, 0);
  --color_orange_light: rgb(255, 230, 204);
  --color_blue: rgb(0, 123, 255);
  --color_grey_dark: rgb(85, 85, 85);
  --color_grey_bright: rgb(245, 245, 245);
}

.content_container {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto; /* damit der Content in der Mitte des Screens angezeigt wird und nicht linksbündig  */
}

dialog {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 8px 16px;
}

h2 {
  font-size: 20px;
  padding: 0px 0px 16px 8px;
}

h3 {
  padding-bottom: 8px;
}

.plr_16 {
  padding-left: 16px;
  padding-right: 16px;
}

.d_none {
  display: none;
}

/***** Header *****/

header .content_container {
  display: flex; /* Der .content_container wird nur für den header zur Flexbox */
  align-items: center;
  height: 100%;
}

.atf_header {
  height: 80px;
  background-color: var(--color_orange);
}

.atf_header img {
  height: 48px;
  object-fit: contain;
  margin-left: 16px;
}

/***** Body/Main *****/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  width: calc(100% - 300px);
}

.company {
  position: relative;
}

.company_background {
  height: 150px;
  background-image: url(./assets/img/bg_pottgemüse.png);
  background-size: cover;
  background-position: center;
}

.company_icon {
  position: absolute;
  top: 100px;
  left: 50%; /* zentriert die LINKE KANTE des icons auf der X-Achse */
  width: 88px;
  object-fit: contain;
  margin-left: -44px; /* verschiebt das icon um die Hälfte der Breite nach links, sodass es insgesamt horizontal zentriert ist */
}

.company_evaluation {
  margin: 0px 16px 8px 16px;
}
.menuLinks {
  display: flex;
  align-items: center;
  background-color: var(--color_grey_bright);
  gap: 16px;
  margin-bottom: 8px;
}

.menuLinks img {
  height: 24px;
  object-fit: contain;
  margin: 8px 0px 8px 16px;
}

.menuLinks a {
  color: var(--color_grey_dark);
  font-weight: bold;
}

.main_dishes_header_background {
  height: 120px;
  background-image: url(./assets/img/bg_hauptgerichte.png);
  background-size: cover;
  background-position: center;
}

.single_dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid var(--color_grey_bright);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 8px;
  padding: 8px 8px 8px 8px;
  margin-bottom: 16px;
}

.price {
  font-weight: 700;
  padding-top: 8px;
}

.add_to_basket_button img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border: 2px solid var(--color_grey_bright);
  padding: 4px 4px;
}

.add_to_basket_button img:hover {
  background-color: rgb(255, 230, 204);
  transform: scale(1.01);
}

.side_dishes_header_background {
  height: 120px;
  background-image: url(./assets/img/bg_beilagen.jpg);
  background-size: cover;
  background-position: center;
}

.placeholder_white {
  height: 50px;
}

/***** Footer *****/

footer {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: var(--color_grey_dark);
  color: white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/***** Queries *****/

@media (max-width: 750px) {
  .basket_wrapper {
    display: none;
  }

  .content {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 470px) {
  h1 {
    margin: 52px 16px 8px 16px;
  }
}
