/***** General *****/

:root {
  --color_orange: rgb(255, 128, 0);
  --color_green_dark: rgb(0, 100, 90);
  --color_grey_dark: rgb(85, 85, 85);
  --color_grey_bright: rgb(245, 245, 245);
}

.content_container {
  margin: 0 auto; /* damit der Content in der Mitte des Screens angezeigt wird und nicht linksbündig  */
  padding: 0;
  max-width: 1440px;
  /* width: 100%;  */
  /* wird gebraucht, weil der header eine Flexbox hat --> 100% heißt, "nimm so viel Platz wie möglich ein (bis zur max-width-Grenze) */
}

h1 {
  font-weight: bold;
  font-size: 26px;
  margin: 8px 16px;
}

h2 {
  font-size: 20px;
  padding: 0px 0px 16px 8px;
}

h3 {
  padding-bottom: 8px;
}

.plr_16 {
  padding-left: 16px;
  padding-right: 16px;
}

/***** Header *****/

header .content_container {
  /* Der .content_container wird nur für den header zur Flexbox */
  display: flex;
  align-items: center;
  height: 100%;
}

.atf_header {
  height: 80px;
  /* background-color: var(--color_orange); */
  background-color: rgb(255, 128, 0);
  /* ändern */
}

.atf_header img {
  height: 48px;
  object-fit: contain;
  /* padding-left: 16px; */
  margin-left: 16px;
}

/***** Body/Main *****/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* color: white;
  background-color: var(--color_bg_main);
  padding-bottom: 40px; */
}

.content_wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  width: calc(100% - 300px);
  /* padding: 0px 16px; */
}

.company_background {
  background-image: url(./assets/img/bg_pottgemüse.png);
  background-size: cover;
  background-position: center;
  height: 150px;
}

.company_evaluation {
  margin: 0px 16px 8px 16px;
}
.menuLinks {
  display: flex;
  align-items: center;
  background-color: var(--color_grey_bright);
  gap: 16px;
  margin-bottom: 8px;
}

.menuLinks img {
  height: 24px;
  object-fit: contain;
  margin: 8px 0px 8px 16px;
}

.menuLinks a {
  font-weight: bold;
  color: var(--color_grey_dark);
}

.main_dishes_header_background {
  background-image: url(./assets/img/bg_hauptgerichte.png);
  background-size: cover;
  background-position: center;
  height: 120px;
}

.single_dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid var(--color_grey_bright);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 8px 8px 8px;
  margin-bottom: 16px;
  gap: 8px;
}

.price {
  font-weight: 700;
  padding-top: 8px;
}

.add_to_basket_button img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border: 2px solid var(--color_grey_bright);
  padding: 4px 4px;
}

.side_dishes_header_background {
  background-image: url(./assets/img/bg_beilagen.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
}

/***** Footer *****/

footer {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--color_grey_dark);
  color: white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/***** Queries *****/

@media (max-width: 700px) {
  .basket_wrapper {
    display: none;
  }

  .content {
  width: 100%;
  padding: 0;
}
}
