.basket_wrapper {
  flex-grow: 1;
  width: 300px;
  border: 2px solid var(--color_grey_bright);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0px 16px 16px 16px;
}

.basket {
  position: sticky;
  width: 100%;
  height: calc(
    100vh - 48px
  ); /* 30px + 16px = 48px, damit sticky auch beim Footer funktioniert */
  top: 0;
  overflow-y: auto; /* bei Bedarf erscheint ein vertikaler Scrollbalken */
  overflow-x: hidden; /* es erscheint KEIN horizontaler Scrollbalken */
}

.basket h2 {
  text-align: center;
  border-bottom: 1px solid var(--color_grey_dark);
  margin: 16px 0px;
}

.empty_basket {
  text-align: center;
}

.calc_dish_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}

.calc_dish_price img {
  height: 24px;
  width: 24px;
  object-fit: contain;
  padding: 4px;
}

.calc_total_price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color_grey_dark);
  padding-top: 16px;
}

.total_price {
  font-weight: bold;
}

.calc_total_price_Euro {
  text-align: end;
}

.submit_order_button,
.new_order_button {
  width: 100%;
  background-color: var(--color_blue);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 8px;
  margin: 16px 0px;
}

.basket_mobile {
  display: none;
}

.basket_button:hover,
.submit_order_button:hover,
.new_order_button:hover,
.close_button:hover {
  transform: scale(1.01);
}

.calc_dish_price img:hover {
  transform: scale(1.1);
  background-color: var(--color_orange_light);
}

.basket_button:active,
.submit_order_button:active,
.new_order_button:active,
.close_button:active {
  transform: scale(0.98);
}

.order_success {
  text-align: center;
}

/***** Basket Queries/Smartphone *****/

@media (max-width: 750px) {
  .basket_mobile {
    display: flex;
  }

  .basket_button {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px; /* Button ist immer 30px (= Footer) über dem unteren Rand */
    width: calc(100% - 32px);
    background-color: var(--color_blue);
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    margin: 0 16px;
  }

  .basket_mobile_dialog {
    height: 100vh;
    width: 100vw;
    border: none;
    padding: 24px clamp(16px, 10vw, 200px); /* Breite passt sich automatisch an (min, Skaliert mit der Bildschirmbreite, max) */
  }

  .basket_dialog_header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color_grey_dark);
  }

  .close_button {
    width: calc(100% - 32px);
    background-color: var(--color_blue);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    margin: 0 16px 16px 16px;
  }

  .basket_mobile_dialog h2 {
    margin-bottom: 16px;
  }

  .new_order_button {
    display: none;
  }
}
