.basket_wrapper {
  width: 300px;
  flex-grow: 1;
  border: 2px solid var(--color_grey_bright);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 16px; */
  padding: 0px 16px 16px 16px;
}

.basket {
  width: 100%;
  height: 100vh;
  position: sticky;
  overflow-y: auto; /* bei Bedarf erscheint ein vertikaler Scrollbalken */
  overflow-x: hidden; /* es erscheint KEIN horizontaler Scrollbalken */
  top: 0;
}

.basket h2 {
  text-align: center;
  border-bottom: 1px solid var(--color_grey_dark);
  margin: 16px 0px;
}

/* .basket h3 {
  margin-top: 16px;
} */

.empty_basket {
  text-align: center;
}

/* raus? */
.basket_seperator {
  width: 100%;
  height: 1px;
  background-color: var(--color_grey_dark);
}

.calc_dish_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}

.calc_dish_price img {
  height: 24px;
  width: 24px;
  object-fit: contain;
}



.calc_total_price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color_grey_dark);
  padding-top: 16px;
}

.total_price {
  font-weight: bold;
}

.calc_total_price_Euro {
  text-align: end;
}

.submit_order_button,
.new_order_button {
  width: 100%;
  background-color: var(--color_blue);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 8px;
  margin: 16px 0px;
}

.basket_max750px {
  display: none;
}

.basket_button:hover,
.submit_order_button:hover {
  transform: scale(1.02);
}

.basket_button:active,
.submit_order_button:active {
  transform: scale(0.98);
}



.order_success {
  text-align: center;
}

/***** Basket Queries/Smartphone *****/

.basket_dialog {
  width: 100%;
  height: 100%;

}

@media (max-width: 750px) {
  .basket_max750px {
    display: block;
  }


  .basket_sticky_wrap {
    /* position: sticky; */
    /* bottom: 0; */
    background: var(--color_blue);
    /* z-index: 10;  */
    /* über Content, unter Footer */
  }

  .basket_button {
    display: block;
    width: 100%;
    margin: 0; 
    border: 0;
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    color: white;


  }


}

